{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}
    Crademaster fees
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Fees</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Min Investment</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Max Investiment</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Duration</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Fee Percentage</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for fee in fees %}
                        <tr>
                            <td class="align-middle text-sm">
                                <span class="badge badge-sm bg-gradient-success">{{ fee.min_investment }} USDT</span>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <span class="badge badge-sm bg-gradient-success">{{ fee.max_investment }} USDT</span>
                            </td>
                            <td class="align-middle text-center">
                              <span class="text-secondary text-xs font-weight-bold">{{ fee.hours }} hours</span>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold">{{ fee.fee_percentage }} %</span>
                            </td>
                            <td class="align-middle">
                                <a href="{% url 'fee_update' fee.id %}" class="text-info font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit fee">
                                Edit
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}