{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}
    Crademaster fees
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Fees</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                {{ form.as_p }}
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}